body {
	background: #f5f5f5;
	text-align: center;
}


#input_form {
	width: 200px;
	text-align: center;
	border: solid 1px #7fffd4;
	background: #7fffd4;
}


#input_form .form {
	
}


.btn {
	background: #98fb98

}
